*                         @gravitee-io/tech-writers

/apim/                    @gravitee-io/apim
/pages/apim/              @gravitee-io/apim

/am/                      @gravitee-io/am
/pages/am/                @gravitee-io/am

/pages/cockpit/           @gravitee-io/cockpit

/pages/ae/                @gravitee-io/ae

/pages/ee/                @gravitee-io/archi
/pages/cli/               @gravitee-io/archi

/pages/privacypolicy/     @gravitee-io/security
