*                         @gravitee-io/tech-writers

/apim/                    @gravitee-io/apim @gravitee-io/tech-writers
/pages/apim/              @gravitee-io/apim @gravitee-io/tech-writers

/am/                      @gravitee-io/am @gravitee-io/tech-writers
/pages/am/                @gravitee-io/am @gravitee-io/tech-writers

/pages/cockpit/           @gravitee-io/cockpit @gravitee-io/tech-writers

/pages/ae/                @gravitee-io/ae @gravitee-io/tech-writers

/pages/ee/                @gravitee-io/archi @gravitee-io/tech-writers
/pages/cli/               @gravitee-io/archi @gravitee-io/tech-writers

/pages/privacypolicy/     @gravitee-io/security @gravitee-io/tech-writers
