*                         @gravitee-io/tech-writers

/apim/                    @gravitee-io/apim @tech-writers
/pages/apim/              @gravitee-io/apim @tech-writers

/am/                      @gravitee-io/am @tech-writers
/pages/am/                @gravitee-io/am @tech-writers

/pages/cockpit/           @gravitee-io/cockpit @tech-writers

/pages/ae/                @gravitee-io/ae @tech-writers

/pages/ee/                @gravitee-io/archi @tech-writers
/pages/cli/               @gravitee-io/archi @tech-writers

/pages/privacypolicy/     @gravitee-io/security @tech-writers
