{% include custom/sidebarconfigs.html %}

<nav class="layout-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ "/" | relative_url }}">Home</a></li>

      {% if doc_cat == "Guides" %}

        <li class="breadcrumb-item-nocaps">{{doc_product | upcase}}</li>
        <li class="breadcrumb-item-nocaps">{{doc_version}}</li>
        {% if doc_guide != nil %}
        <li class="breadcrumb-item">{{doc_guide | replace: '-', ' ' }}</li>
        {% if doc_subguide != nil %}

        <li class="breadcrumb-item-nocaps">{{doc_subguide | replace: '-', ' ' }}</li>

        {% endif %}

        {% endif %}

      {% elsif doc_cat == "Getstarted" %}
          <li class="breadcrumb-item-nocaps">Get started</li>

      {% elsif doc_cat == "Reference" %}

          <li class="breadcrumb-item">Reference</li>

      {% endif %}

        <li class="breadcrumb-item-nocaps active" aria-current="page">{{page.title}}</li>

    </ol>
</nav>
