{% include custom/sidebarconfigs.html %}

<nav class="layout-breadcrumb">
    <ol class="breadcrumb">
        <li><a href="{{ "/" | relative_url }}">Home</a> </li>

      {% if doc_cat == "Guides" %}
        {% if doc_product == "cockpit" %}
          <li class="breadcrumb-item-nocaps">Cockpit</li>
        {% else %}
          <li class="breadcrumb-item-nocaps">{{doc_product | upcase}}</li>
        {% endif %}
        <li class="breadcrumb-item-nocaps">{{doc_version}}</li>
        {% if doc_guide != nil %}
            <li class="breadcrumb-item">{{doc_guide | replace: '-', ' ' }}</li>
          {% if doc_subguide != nil %}
            <li class="breadcrumb-item">{{doc_subguide | replace: '-', ' '}}</li>
          {% endif %}
        {% endif %}

      {% elsif doc_cat == "Getstarted" %}
          <li class="breadcrumb-item-nocaps">Get started</li>

      {% elsif doc_cat == "Reference" %}

            <li class="breadcrumb-item">Reference</li>

      {% elsif doc_cat == "Resources" %}

          <li class="breadcrumb-item">Resources</li>

          {% unless doc_guide == "breaking-changes" %}
            {% if doc_version == "Cockpit" %}
              <li class="breadcrumb-item">"Cockpit"</li>
            {% else %}
              <li class="breadcrumb-item">{{doc_version | upcase}}</li>
            {% endif %}
          {% endunless %}

      {% endif %}

          <li class="breadcrumb-item-nocaps active" aria-current="page">{{page.title}}</li>

    </ol>
</nav>
