
{% seo %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% endif %}">
<meta name="keywords" content="{{page.tags}}{% if page.tags %}, {% endif %} {{page.keywords}}">
<title>{{ page.title }} | {{ site.site_title }}</title>

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ '/assets/css/app.min.css' | relative_url }} "/>
<link rel="stylesheet" href="{{ "/assets/css/lavish-bootstrap.css" | relative_url }}">
<link rel="stylesheet" href="{{ "/assets/css/theme-gravitee-new.css" | relative_url }}">
<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" href="{{ "/assets/css/modern-business.css" | relative_url }}">

<link rel="stylesheet" href="{{ "/assets/css/rouge_github.css" | relative_url }}">
<link rel="stylesheet" href="{{ "/assets/css/customstyles.css" | relative_url }}">
<link rel="stylesheet" href="{{ "/assets/fonts/plex/css/ibm-plex.css" | relative_url }}">-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/2.0.0/anchor.min.js"></script>
<script src="{{ "/assets/js/toc.js" | relative_url }}"></script>
<script src="{{ "/assets/js/customscripts.js" | relative_url }}"></script>

<link rel="shortcut icon" href="{{ "/assets/images/favicon.png" | relative_url }}">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "feed.xml" | prepend: site.url }}">
<!-- Algolia search -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />

<script src="{{ '/assets/js/init-default.js' | relative_url }}"></script>

{% if page.datatable == true %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>
<script src="{{ '/assets/js/init-table.js' | relative_url }}"></script>
{% endif %}
