<section class="topics-area">
   <div class="topics-wrapper section-spacing pt-0 bminus-30">
      <div class="container">
         <div class="section-title">
            <h2 class="heading-2">Browse Our Product Guides</h2>
         </div>

         <div class="row">
                 <div class="col-md-6">

                     <article class="faq-service bg-color1">
                         <header class="faq-logo wow bounceIn" data-wow-duration="1s">
                           <h4 class="heading-4 text-capitalize">API Management</h4>
                         </header>
                         <div class="faq-content">
                          <div class="row">
<!-- product guides in sets of 3 max for alignment -->
                        <div class="col-md-5 products">
                         <ul class="topics-list list-inline">
                            {% for product in site.data.products.apim %}
                              <li><a href="{{ product.url }}">{{ product.name }} </a></li>
                            {% endfor %}
                         </ul>
                        </div>
                        <div class="col-md-5 products">
                         <ul class="topics-list list-inline">
                           {% for product in site.data.products.apim2 %}
                            <li><a href="{{ product.url }}">{{ product.name }} </a></li>
                           {% endfor %}
                         </ul>
                       </div>
                     </div>
                    </div>
                     </article>
                  </div>
                  <div class="col-md-6">

                     <article class="faq-service bg-color1">
                         <header class="faq-logo wow bounceIn" data-wow-duration="1s">
                           <h4 class="heading-4 text-capitalize">Access Management</h4>
                         </header>
                         <div class="faq-content">
                           <div class="row">
 <!-- product guides in sets of 3 max for alignment -->
                         <div class="col-md-5 products">
                         <ul class="topics-list list-inline">
                            {% for product in site.data.products.am %}
                              <li><a href="{{ product.url }}">{{ product.name }} </a></li>
                            {% endfor %}
                         </ul>
                         </div>
                         <div class="col-md-5 products">
                         <ul class="topics-list list-inline">
                            {% for product in site.data.products.am2 %}
                              <li><a href="{{ product.url }}">{{ product.name }} </a></li>
                            {% endfor %}
                         </ul>
                         </div>
                       </div>
                      </div>
                     </article>
                    </div>
                    <div class="col-md-6">

                     <article class="faq-service bg-color1">
                         <header class="faq-logo wow bounceIn" data-wow-duration="1s">
                           <h4 class="heading-4 text-capitalize">Cockpit</h4>
                         </header>
                         <div class="faq-content">
                           <div class="row">
 <!-- product guides in sets of 3 max for alignment -->
                         <div class="col-md-5 products">
                         <ul class="topics-list list-inline">
                            {% for product in site.data.products.cockpit %}
                              <li><a href="{{ product.url }}">{{ product.name }} </a></li>
                            {% endfor %}
                         </ul>
                         </div>
                       </div>
                      </div>
                     </article>
                     </div>

                     <div class="col-md-6">

                     <article class="faq-service bg-color1">
                         <header class="faq-logo wow bounceIn" data-wow-duration="1s">
                           <h4 class="heading-4 text-capitalize">Alert Engine</h4>
                         </header>
                         <div class="faq-content">
                           <div class="row">
 <!-- product guides in sets of 3 max for alignment -->
                         <div class="col-md-5 products">
                         <ul class="topics-list list-inline">
                            {% for product in site.data.products.ae %}
                              <li><a href="{{ product.url }}">{{ product.name }} </a></li>
                            {% endfor %}
                         </ul>
                         </div>
                       </div>
                      </div>
                     </article>
                     </div>
               </div>
           </div>
       </div>
     </section>
