<!-- Start Slider  Area -->
<section class="search-area">
    <div class="page-title-wrapper text-center section-spacing">
      <div class="page-title text-center white-text">
    <p class="heading-2">What can we help you with?</p>
    </div>
    <div class="search-demo-container">
        <input class="gv-input" type="text" id="search-input" placeholder="Search our docs">
    </div>
    </div>
</section>
<!--
<section class="page-title-area bg-cover1">
 <div class="page-title-wrapper section-spacing">
    <div class="page-title text-center white-text">
       <h1 class="heading-1">{{page.title}}</h1>
    </div>
 </div>
</section> -->
<!-- End Slider Area -->
