{% include custom/sidebarconfigs.html %}

{% if doc_cat == "Guides" %}

<!-- Version dropdown -->
{% if doc_product == "APIM" %}
  {% assign sidebar_versions = site.data.side-nav-versions.apim_sidenav_versions %}
{% elsif doc_product == "AM" %}
  {% assign sidebar_versions = site.data.side-nav-versions.am_sidenav_versions %}
{% elsif sidebar[0].product == "Cockpit" %}
{% elsif sidebar[0].product == "AE" %}
{% elsif sidebar[0].product == "EE" %}

{% endif %}

    {% for entry in sidebar_versions %}
    {% for folder in entry.folders %}
      <div class="dropdown-button">
        Version<a href="#" class="dropdown-toggle" data-toggle="dropdown"></a>
          <ul class="dropdown-menu">
            {% for folderitem in folder.folderitems %}
              {% if folderitem.external_url %}
              <li><a href="{{folderitem.external_url}}" target="_blank">{{folderitem.title}}</a></li>
              {% elsif doc_url == folderitem.url %}
              <li class="dropdownActive"><a href="{{folderitem.url}}">{{folderitem.title}}</a></li>
              {% else %}
              <li><a href="{{folderitem.url}}">{{folderitem.title}}</a></li>
              {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
    {% endfor %}

{% endif %}

<!-- sidebar -->

    <ul id="mysidebar" class="nav navbar-nav">

        {% for entry in sidebar %}
        {% for folder in entry.folders %}
        {% if folder.output contains "web" %}
        <li class="subitem">
            <a href="#">{{ folder.title }}</a>
            <ul class="sub-dropdown">
                {% for folderitem in folder.folderitems %}

                {% if folderitem.output contains "web" %}
                {% if folderitem.external_url %}
                <li><a href="{{folderitem.external_url}}" target="_blank">{{folderitem.title}}</a></li>
                {% elsif page_url == folderitem.url %}
                <li class="active"><a href="{{folderitem.url}}">{{folderitem.title}}</a></li>
                {% else %}
                <li><a href="{{folderitem.url}}">{{folderitem.title}}</a></li>
                {% endif %}

                {% endif %}


                {% for subfolders in folderitem.subfolders %}
                {% if subfolders.output contains "web" %}
                <li class="subitem">
                    <a href="#">{{ subfolders.title }}</a>
                    <ul class="sub-dropdown">
                        {% for subfolderitem in subfolders.subfolderitems %}
                        {% if subfolderitem.output contains "web" %}
                        {% if subfolderitem.external_url %}
                        <li><a href="{{subfolderitem.external_url}}" target="_blank">{{subfolderitem.title}}</a></li>
                        {% elsif page_url == subfolderitem.url %}
                        <li class="active"><a href="{{subfolderitem.url}}">{{subfolderitem.title}}</a></li>
                        {% else %}
                        <li><a href="{{subfolderitem.url}}">{{subfolderitem.title}}</a></li>
                        {% endif %}

                        {% for subfolders in subfolderitem.subfolders %}
                        {% if subfolders.output contains "web" %}
                        <li class="subitem">
                            <a href="#">{{ subfolders.title }}</a>
                            <ul class="sub-dropdown">
                                {% for subfolderitem in subfolders.subfolderitems %}
                                {% if subfolderitem.output contains "web" %}
                                {% if subfolderitem.external_url %}
                                <li><a href="{{subfolderitem.external_url}}" target="_blank">{{subfolderitem.title}}</a></li>
                                {% elsif page_url == subfolderitem.url %}
                                <li class="active"><a href="{{subfolderitem.url}}">{{subfolderitem.title}}</a></li>
                                {% else %}
                                <li><a href="{{subfolderitem.url}}">{{subfolderitem.title}}</a></li>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
                {% endfor %}

                {% endfor %}
            </ul>
            {% endif %}
            {% endfor %}
            {% endfor %}
            <!-- if you aren't using the accordion, uncomment this block:
               <p class="external">
                   <a href="#" id="collapseAll">Collapse All</a> | <a href="#" id="expandAll">Expand All</a>
               </p>
               -->
        </li>
    </ul>
