{% include custom/sidebarconfigs.html %}

<div class="col-md-3">
  <div class="custom-links">
     <ul class="nav navbar-nav" id="mysidebar">

   {% for entry in sidebar %}
      {% assign active = nil %}
      {% for sublink in link.submenu %}
        {% if sidebar.url contains sublink.url %}
          {% assign active = 'active' %}
        {% endif %}
      {% endfor %}

      {% if sidebar.url contains entry.url %}
        {% assign active = 'active' %}
      {% endif %}

      <li class="subitem">
        {{ entry.text }}

        {% if entry.submenu %}<a class="pb-0 pt-0" href="#nav"><i class="fa fa-angle-right"></i></a> {% endif %}

        {% if entry.submenu %}
           <ul class="sub-dropdown">
            {% for sublink in entry.submenu %}
              <li {% if page.url contains sublink.url %}class="active"{% endif %}>
                <a href="{{ sublink.url | relative_url }}">{{ sublink.text }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}

      </ul>

  </div>
</div>

<!-- this highlights the active parent class in the navgoco sidebar. this is critical so that the parent expands when you're viewing a page. This must appear below the sidebar code above. Otherwise, if placed inside customscripts.js, the script runs before the sidebar code runs and the class never gets inserted.-->
<script>$("li.active").parents('li').toggleClass("active");</script>
