<!-- Start Slider  Area -->
<section class="slider-area bg-cover2">
    <div class="slider-wrapper medium-padding">
        <div class="container">

                            <div class="row justify-content-center">
                              <li>

                              <div id="search-demo-container">
                                  <input class="search-input" type="text" id="search-input" placeholder="{{site.data.strings.search_placeholder_text}}">
                              </div>
                            </li>

                            </div>
                            </div>
                            </div>
                          </section>

<!-- End Slider Area -->
