{% if page.sidebar == "am_3_x_sidebar" %}
{% assign sidebar = site.data.sidebars.am_3_x_sidebar.entries %}

{% elsif page.sidebar == "am_2_x_sidebar" %}
{% assign sidebar = site.data.sidebars.am_2_x_sidebar.entries %}

{% elsif page.sidebar == "am_1_x_sidebar" %}
{% assign sidebar = site.data.sidebars.am_1_x_sidebar.entries %}

{% elsif page.sidebar == "apim_1_x_sidebar" %}
{% assign sidebar = site.data.sidebars.apim_1_x_sidebar.entries %}

{% elsif page.sidebar == "apim_3_x_sidebar" %}
{% assign sidebar = site.data.sidebars.apim_3_x_sidebar.entries %}

{% elsif page.sidebar == "ae_sidebar" %}
{% assign sidebar = site.data.sidebars.ae_sidebar.entries %}

{% elsif page.sidebar == "cli_sidebar" %}
{% assign sidebar = site.data.sidebars.cli_sidebar.entries %}

{% elsif page.sidebar == "ee_sidebar" %}
{% assign sidebar = site.data.sidebars.ee_sidebar.entries %}

{% endif %}
