
{% if page.sidebar == "am_2_x_sidebar" %}
{% assign sidebar = site.data.sidebars.am_2_x_sidebar.entries %}

{% elsif page.sidebar == "am_1_x_sidebar" %}
{% assign sidebar = site.data.sidebars.am_1_x_sidebar.entries %}

{% elsif page.sidebar == "apim_sidebar" %}
{% assign sidebar = site.data.sidebars.apim_sidebar.entries %}

{% elsif page.sidebar == "ae_sidebar" %}
{% assign sidebar = site.data.sidebars.ae_sidebar.entries %}

{% elsif page.sidebar == "product2_sidebar" %}
{% assign sidebar = site.data.sidebars.product2_sidebar.entries %}

{% elsif page.sidebar == "mydoc_sidebar" %}
{% assign sidebar = site.data.sidebars.mydoc_sidebar.entries %}

{% endif %}
