body {
    font-family: Libre Franklin, IBM Plex Sans, sans-serif;
    color: #111c4e;
    overflow: auto;
}

ol.arabic li{
    line-height: 20px;
}

div.ulist li{
    line-height: 20px;
}

.sectionbody a[href^="http"]:after{
    content: "\f08e";
    font-family: FontAwesome, "Courier New", monospace;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: none;
    padding-left: 3px;
}


.col-md-5.products{
   -ms-flex:0 0 41.666667%;
    flex:0 0 41.666667%;
    max-width:41.666667%;
    position:relative;
    width:100%;
    padding-right:15px;
    padding-left:15px;
}

.mysidebar{
   border-right: 1px solid #ebebeb;
 }

.navbar-inverse {
    background: rgb(1, 0, 2) linear-gradient(90deg, rgba(1, 0, 2, 1) 0%, rgba(23, 12, 102, 1) 55%, rgba(25, 139, 183, 1) 100%);
    border-color: transparent;
}

.header-navigation {
    background: rgb(1, 0, 2) linear-gradient(90deg, rgba(1, 0, 2, 1) 0%, rgba(23, 12, 102, 1) 55%, rgba(25, 139, 183, 1) 100%);
    border-color: transparent;
}

.homepage .navigation-right{
	float: right;
	margin-right: 50px;
}

.header-area {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 0;
}


.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a .caret, .navbar-inverse .navbar-nav > .open > a:hover .caret, .navbar-inverse .navbar-nav > .open > a:focus .caret {
    background-color: #ff9100;
    border-top-color: #111c4e;
    border-bottom-color: #111c4e;
    color: #111c4e;
}

.summary {
    text-align: right;
    padding-right: 10px;
    border-right: 5px solid #ff9100;
    font-size: 16px;
}

.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

.navbar-right, .navbar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-brand img{
	height: 30px;
	margin-left: 40px;
	margin-top: 15px;
}

.bg-cover1 {
  background: url(../images/slider-img.jpg) 50% no-repeat, linear-gradient(0deg, #0D65B0, #062e51); }

.bg-cover2 {
  background: url(../images/headline-img.jpg) repeat; }


.bg-color4 {
    background-color: #000535;
}

.faq-service .faq-content {
    float: right;
    width: calc(100% - 20px);
    padding-left: 0px;
    color: #1b1464;
}

.layout-wrapper.section-spacing {
    padding-top: 70px;
}

.page-title-wrapper.section-spacing {
    padding-bottom: 150px;
    padding-top: 100px;
}


.btn-style3 {
    background-color: #ff9100;
    border-color #0ff;
    color: #fff;
    font-size: 14px;
}

.btn-style3:hover{
    background-color: #ff9100;
    border-color #0ff;
    color: #fff;
    font-size: 14px;
}

.search-demo-container .gv-input{
    display: flex;
    border-radius: 100px;
    font-size: 14px;
    background: #fff;
    width: 500px;
    height: 50px;
    border: none;
}

.gv-input {
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
    outline: none;
    width: 100%;
    -webkit-appearance: none;
    display: flex;
    border: 2px solid;
    border-radius: 8em;
    margin-bottom: 0;
    background-color: transparent;
    font-size: 14px;
    line-height: 17px;
    height: calc(17px + 10px + 10px);
    padding: 12px 16px;
    background: #fff;
}

.gv-input, .gv-input::placeholder {
    font-size: 14px;
    color: #1ecad3;
}

.ds-input, .ds-input::placeholder {
    color: #1ecad3;
    font-size: 14px;
    margin-top: 14px;
    float: right;
}

.gv-button {
    background-color: #111c4e;
    border: none;
    border-radius: 8em;
    color: #fff;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    transition: background-color .2s;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    outline: 0;
    font-size: 14px;
    margin: 0;
    padding: 0;
    height: 100%;
    text-decoration: none;
    box-sizing: border-box;
    display: flex;
}

nav .breadcrumb-item{
  text-transform: capitalize;
}

ol.breadcrumb{
  padding: 0;
  margin-left: -10px;
}

.layout-breadcrumb .breadcrumb > li + li:before {
  content: "/";
  padding: 0 5px;
  color: #cccccc;
}

html, body{ 
  height: 100%;
}

.body-wrapper {
  background: url(../images/background-img.jpg) 50% no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode: color;
}

.doc-sidebar-menu li a {
    border-bottom: none;
}


/* algolia search */

.search {
    text-align: left;
}
.search input {
    font-size: 20px;
    width: 80%
}

.results {
    margin: auto;
    text-align: left;
}
.results ul {
    list-style-type: none;
    padding: 0;
}

/* algolia */

div.results {
    position: absolute;
    background-color: white;
    width: 100%;
}

.post-meta {
    font-size: 14px;
    color: #828282;
}

.post-link {
    font-size: 22px;
}

.post-list p {
    margin: 10px 0;
}

.imageblock{
    margin-bottom: 20px;
}

.imageblock img{
    border: 1px solid #BEBEBE;
}

time {
    margin-right: 10px;
}

p.post-meta time {
    margin-right: 0;
}

p.tableblock{
	hyphens: none;
}

div.paragraph {
    line-height: 20px;
}

/* footer */
footer.footer {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    margin: 4 rem 4 rem 0 4 rem;
    font-size: smaller;
}

div.footertop {
    min-height: 60px;
    background-color: #1ecad3;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.footer-links {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

.footer-links a {
    margin: 0.5rem;
    color: #111c4e;
}

.footer-links a[href^="http://"]::after, .footer-links a[href^="https://"]::after {
    content: none;
}

.footer-information {
    text-align: right;
}

.footer > .gv-button {
    background-color: #1ecad3;
    border-radius: 2em;
    border: none;
    color: #1ecad3;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.newsletter-box {
    flex: 1;
}

.newsletter-error, .newsletter-success {
    display: none;
}

.newsletter-error {
    color: #FF5722;
}

.newsletter-success {
    color: #86c3d0;
}

.newsletter-box p {
    font-size: 14px;
    margin: 1rem 0;
}

.newsletter-box p {
    font-size: 14px;
    margin: 1rem 0;
}

.newsletter-box form {
    margin-bottom: 0.5rem;
}

.newsletter-title {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}

.newsletter-form {
    display: grid;
    grid-template-columns: 320px 150px;
    grid-gap: 0.5rem;
    margin-left: 0;
    margin-top: 0;
}

.looking-for-service:hover{
	background-color:#111c4e;
	box-shadow:0 0 20px 5px rgba(33,107,188,.03)
}

@media only screen and (max-width: 992px) {

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer .footer-links {
        justify-content: center;
    }

    .footer .footer-information {
        text-align: center;
    }

    .newsletter-form {
        grid-template-columns: 220px 100px;
    }

    .search-demo-container .gv-input{
    	width: 400px;
    }

}

/*
.homepage h2, .summary {
    color: #1ecad3 !important;
}
*/

.homepage h2 {
    color: #fff;
    font-weight: normal;
}

.homepage .sect1 {
    border-color: #1ecad3;
}

.section-title {
    color: #fff;
}

span.icon>.fa {
    cursor: default;
}

.admonitionblock td.icon {
    text-align: center;
    width: 80px;
}

.admonitionblock td.icon [class^="fa icon-"] {
    font-size: 2.5em;
    text-shadow: 1px 1px 2px rgba(0,0,0,.5);
    cursor: default;
}

.admonitionblock td.icon .icon-note:before {
    content: "\f05a";
    color: #19407c;
}

.admonitionblock td.icon .icon-tip:before {
    content: "\f0eb";
    text-shadow: 1px 1px 2px rgba(155,155,0,.8);
    color: #111;
}

.admonitionblock td.icon .icon-warning:before {
    content: "\f071";
    color: #bf6900;
}

.admonitionblock td.icon .icon-caution:before {
    content: "\f06d";
    color: #bf3400;
}

.admonitionblock td.icon .icon-important:before {
    content: "\f06a";
    color: #bf0000;
}

.icon image { border: 0
    vertical-align: middle;
}

caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: left;
}
th {
    text-align: left;
}

table {
    background-color: transparent;
    margin-bottom: 20px;
    border: 1px solid #dedede;
    hyphens: none;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    text-transform: none;
    text-align: left;
}
table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
    border-top: 0;
}

table > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

table col[class*="col-"] {
    position: static;
    display: table-column;
    float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
    position: static;
    display: table-cell;
    float: none;
}


table td:first-child {
    width: 150px;
}

table.boldFirstColumn td:first-child {
    font-weight: bold;
}

table tr td {
    hyphens: auto;
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.label-version{
    background-color: #5bc0de;
    font-size: 100%
}

.label-enterprise{
    background-color: #f0ad4e;
    font-size: 100%
}


/* navgoco sidebar styles (customized) */

.nav li.active > a {
    color: #0d65b0;
}

ul.nav, ul.nav ul, ul.nav li {
    list-style: none;
}

ul.nav ul {
    padding: 0;
    margin:0;
}

ul.nav {
    padding:0;
    margin: 0;
}

ul.nav > li {
    margin: 1px 0;
}

ul.nav > li li {
    padding-left: 10px;
}

ul.nav > li li a {
    padding-left:10px;
}

ul.nav a {
    color: #333;
    display: block;
    outline: none;
    text-decoration: none;
}

ul.nav li > a > span {
    float: right;
    font-size: 19px;
    font-weight: bolder;
}


ul.nav li > a > span:after {
    content: "\f105";
    font: normal normal normal 14px/1 FontAwesome;
}

ul.nav li.active > a > span:after {
    content: "\f107";
    font: normal normal normal 14px/1 FontAwesome;
}



ul#mysidebar {
    background: #fff;
    display: none;
    height: auto;
    left: auto;
    margin: 0 1rem 0 0;
    overflow-y: auto;
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 11;
    display: block
}


/* ul.nav li a {
    padding-right:10px;
} */

.dropdown-button {

    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    list-style: none;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* version menu */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding-left: 10px;
  margin: 2px 0 0;
  list-style: none;
  font-size: 12px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}


/* end sidebar */

.slider-wrapper.medium-padding {
  padding: 170px 0; }
  @media (max-width: 768px) {
    .medium-padding {
      padding: 100px 0; } }

body .slider-area h2 {
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 14px;
}
body .slider-area input {
  font-size: 18px;
  height: 50px;
  line-height: 24px;
  padding: 13px 20px;
}
body .slider-area input:focus {
  box-shadow: none;
  outline: none;
}
body.slider-area .hero #autocompleteResults {
  left: 14px;
  right: 14px;
  width: unset;

.header-navigation {
	position: sticky;
    top: 0;
    z-index: 1000;
    padding: 20em;
    background-color: rgba(0,0,0,.85);
    font-weight: 700;
}

.affix {
    overflow-y: auto;
    height: 90%;
}

.affix::-webkit-scrollbar {
    display: none;
}


@media (min-width: 1600px) {
    .container {
        max-width: 1800px;
    }
}

