body {
    font-family: Libre Franklin, IBM Plex Sans, sans-serif;
    color: #111c4e;
}

.navbar-inverse {
    background: rgb(1, 0, 2) linear-gradient(90deg, rgba(1, 0, 2, 1) 0%, rgba(23, 12, 102, 1) 55%, rgba(25, 139, 183, 1) 100%);
    border-color: transparent;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a .caret, .navbar-inverse .navbar-nav > .open > a:hover .caret, .navbar-inverse .navbar-nav > .open > a:focus .caret {
    background-color: #ff9100;
    border-top-color: #111c4e;
    border-bottom-color: #111c4e;
    color: #111c4e;
}

.summary {
    text-align: right;
    padding-right: 10px;
    border-right: 5px solid #ff9100;
    font-size: 16px;
}

.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

.gv-input {
    border: 2px solid;
    border-radius: 8em;
    padding: 10px 15px;
    margin-bottom: 0;
    background-color: transparent;
    color: #fff;
}

.gv-input, .gv-input::placeholder {
    color: #1ecad3;
    border-color: #1ecad3;
}

.ds-input, .ds-input::placeholder {
    color: #fff;
    border-color: #fff;
}

.gv-button {
    background-color: #1ecad3;
    border: none;
    border-radius: 8em;
    color: #fff;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.footer-links a, .newsletter-success,
.homepage h2, .summary {
    color: #1ecad3 !important;
}

.homepage .sect1 {
    border-color: #1ecad3;
}

.nav > li.active > a {
    background-color: #f2f6fb;
	border-top-color: #f2f6fb;
    border-bottom-color: #f2f6fb;
}

.nav li > a > span:after {
    content: '\25be';
}

.nav ul.sub-dropdown > li 
{
	
}

span.icon>.fa {
    cursor: default;
}
.admonitionblock td.icon {
    text-align: center;
    width: 80px;
}
.admonitionblock td.icon [class^="fa icon-"] {
    font-size: 2.5em;
    text-shadow: 1px 1px 2px rgba(0,0,0,.5);
    cursor: default;
}
.admonitionblock td.icon .icon-note:before {
    content: "\f05a";
    color: #19407c;
}
.admonitionblock td.icon .icon-tip:before {
    content: "\f0eb";
    text-shadow: 1px 1px 2px rgba(155,155,0,.8);
    color: #111;
}
.admonitionblock td.icon .icon-warning:before {
    content: "\f071";
    color: #bf6900;
}
.admonitionblock td.icon .icon-caution:before {
    content: "\f06d";
    color: #bf3400;
}
.admonitionblock td.icon .icon-important:before {
    content: "\f06a";
    color: #bf0000;
}

.icon image { border: 0
    vertical-align: middle;
}

table {
    background-color: transparent;
}
caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: left;
}
th {
    text-align: left;
}
table {
    max-width: 90%;
    margin-bottom: 20px;
    border: 1px solid #dedede;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    text-transform: none;
    text-align: left;
}
table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
    border-top: 0;
}

table > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

table col[class*="col-"] {
    position: static;
    display: table-column;
    float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
    position: static;
    display: table-cell;
    float: none;
}


table td:first-child {
    width: 150px;
}

table.boldFirstColumn td:first-child {
    font-weight: bold;
}

table tr td {
    hyphens: auto;
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.label-version{
    background-color: #5bc0de;
    font-size: 100%
}

.label-enterprise{
    background-color: #f0ad4e;
    font-size: 100%
}


/* navgoco sidebar styles (customized) */
.nav, .nav ul, .nav li {
    list-style: none;
}

.nav ul {
    padding: 0;
    margin:0;
}

.nav {
    padding:0;
    margin: 0;
}

.nav > li {
    margin: 1px 0;
}

.nav > li li {
    margin: 2px 0;
}

.nav a {
    color: #333;
    display: block;
    outline: none;
    text-decoration: none;
}

.nav li > a > span {
    float: right;
    font-size: 19px;
    font-weight: bolder;
}


.nav li > a > span:after {
    content: '\25be';
}
.nav li.open > a > span:after {
    content: '\25b4';		
}


ul#mysidebar {
    border-radius:0;
}

.nav ul li ul li a {
    padding-left:20px;
}


.nav li a {
    padding-right:10px;
}

.dropdown-button {

    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    list-style: none;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}



/* end sidebar */

.slider-wrapper.medium-padding {
  padding: 170px 0; }
  @media (max-width: 768px) {
    .medium-padding {
      padding: 100px 0; } }

body .slider-area h2 {
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 14px;
}
body .slider-area input {
  font-size: 18px;
  height: 50px;
  line-height: 24px;
  padding: 13px 20px;
}
body .slider-area input:focus {
  box-shadow: none;
  outline: none;
}
body.slider-area .hero #autocompleteResults {
  left: 14px;
  right: 14px;
  width: unset;
  
.header-navigation {
	position: sticky;
    top: 0;
    z-index: 1000;
    padding: 20em;
    background-color: rgba(0,0,0,.85);
	font-weight: 700;
}