<!DOCTYPE html>
<head>
    {% include head.html %}

</head>
<body>

  <!-- Start Header Area -->
{% include navigation.html %}

  <!-- End Header Area -->


<!-- Page Content -->

        {{content}}

         <script src="/assets/js/build.min.js"></script>

         <script src="{{ "/assets/js/jquery.navgoco.min.js" | relative_url }}"></script>

       		<script>
    			$(function() {
    				$('a[href*=\\#]').not(".no-smooth").on('click', function(event){
    					var el = $(this.hash);
    					if (el.length > 0) {
    						// event.preventDefault();
    						$('html,body').animate({scrollTop:$(this.hash).offset().top - 100}, 500);
    					}
    				});

    				});


    		</script>
</body>
</html>
