<!DOCTYPE html>
<head>
    {% include head.html %}
    <link rel="stylesheet" href="{{ '/assets/css/app.min.css' | relative_url }} "/>

    <script src="{{ '/assets/js/init-default.js' | relative_url }}"></script>

    {% if page.datatable == true %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>
    <script src="{{ '/assets/js/init-table.js' | relative_url }}"></script>
    {% endif %}

</head>
<body>


<!-- Page Content -->

        {{content}}
        <!-- Add Javascript File - this script needed for topnav but breaks sidebar -->
         <script src="/assets/js/build.min.js"></script>
         <script src="{{ "/assets/js/jquery.navgoco.min.js" | relative_url }}"></script>

       		<script>
    			$(function() {
    				$('a[href*=\\#]').not(".no-smooth").on('click', function(event){
    					var el = $(this.hash);
    					if (el.length > 0) {
    						// event.preventDefault();
    						$('html,body').animate({scrollTop:$(this.hash).offset().top - 100}, 500);
    					}
    				});

    				});


    		</script>
</body>
</html>
