---
layout: default_docs
toc: true
---
<!--
{% include doc_header.html %}
{% include doc_post_header.html %}
-->

<section class="layout-area bg-color1 content tutorial">
  <div class="layout-wrapper section-spacing bminus-30">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {% include doc_post_breadcrumb.html %}
        </div>
      </div>
      <div class="row">
	  {% if page.sidebar == nil or page.sidebar != false %}
    <div class="col-md-3">
      {% include sidebar.html %}
</div>
<!-- this highlights the active parent class in the navgoco sidebar. this is critical so that the parent expands when you're viewing a page. This must appear below the sidebar code above. Otherwise, if placed inside customscripts.js, the script runs before the sidebar code runs and the class never gets inserted.-->
<script>$("li.active").parents('li').toggleClass("active");</script>
		{% endif %}


		{% assign col = "6" %}

		{% if page.toc == false %}
		{% assign col1 = "3" %}
		{% endif %}

		{% if page.sidebar == false %}
		{% assign col2 = "3" %}
		{% endif %}


        <div class="col-md-{{ col | plus: col1 | plus: col2 }}">
          <div class="tutorial-content mx-auto">
            <div class="doc-content">
 <h1 class="heading-1">{{page.title}}</h1>
              {{content}}
            </div>
          </div>
        </div>

    {% if page.toc == true or page.toc == nil %}

        <div class="col-md-3">
          <div class=" doc-sidebar-menu doc-right-sidebar">

            <div>
              <div id="table-of-contents">
               <h5 class="px-3 pt-3">In this article</h5>
				{% toc %}
              </div>

            </div>

          </div>
        </div>
		{% endif %}
      </div>
    </div>
  </div>
  </section>

{% include support_area.html %}
{% include support_area_2.html %}
{% include footer.html %}

<script>
  var headings = document.querySelectorAll("h2[id]");
  for (var i = 0; i < headings.length; i++) {
    var anchorLink = document.createElement("a");
    anchorLink.innerText = "#";
    anchorLink.href = "#" + headings[i].id;
    anchorLink.classList.add("header-link");

    headings[i].appendChild(anchorLink);
  }
</script>
