
<!DOCTYPE HTML>
<html lang="en">
<head>

{% include head.html %}

</head>

<body>


  <main class="homepage bg-cover3">
    <div class="container">

   {{ content }}
 </div>
    </main>

    <!-- Add Javascript File -->
   <script src="{{ '/assets/js/build.min.js' | relative_url }}"></script>
   		<script>
			$(function() {
				$('a[href*=\\#]').not(".no-smooth").on('click', function(event){
					var el = $(this.hash);
					if (el.length > 0) {
						// event.preventDefault();
						$('html,body').animate({scrollTop:$(this.hash).offset().top - 100}, 500);
					}
				});

				});

		</script>
</body>

</html>
